.bgYellow{
    background: yellow;
}

.fontBlack{
    color:gray;
}

.fontWhite{
    color: white;
}

.pad8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.width100{
    width: 100px;
}

.btnClass{
    .primary{
        
    }
}

